In [84]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv -O leads_coring.csv

--2025-10-14 01:57:29--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: 'leads_coring.csv'

     0K .......... .......... .......... .......... .......... 63%  619K 0s
    50K .......... .......... ........                        100% 4,08M=0,09s

2025-10-14 01:57:30 (900 KB/s) - 'leads_coring.csv' saved [80876/80876]

In [85]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [86]:
df = pd.read_csv('leads_coring.csv')
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [87]:
df.converted.isnull().sum()

np.int64(0)

In [88]:
len(df)-df.notnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [89]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [90]:
df.dtypes[df.dtypes == 'object']

lead_source          object
industry             object
employment_status    object
location             object
dtype: object

In [91]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
categorical_columns

['lead_source', 'industry', 'employment_status', 'location']

In [92]:
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
lead_score,0.94,0.8,0.69,0.87,0.62
converted,1,0,1,0,1

In [93]:
numeric_columns = list(df.dtypes[df.dtypes != 'object'].index)
numeric_columns

['number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score',
 'converted']

In [94]:
df[categorical_columns].isna().sum()

lead_source          128
industry             134
employment_status    100
location              63
dtype: int64

In [95]:
df[categorical_columns]= df[categorical_columns].fillna('NA')
df[categorical_columns].isna().sum()

lead_source          0
industry             0
employment_status    0
location             0
dtype: int64

In [96]:
df[numeric_columns].isnull().sum()

number_of_courses_viewed      0
annual_income               181
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [97]:
df[numeric_columns] = df[numeric_columns].fillna(0)
df[numeric_columns].isnull().sum()

number_of_courses_viewed    0
annual_income               0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [98]:
df['industry'].nunique()

8

## Question 1
What is the most frequent observation (mode) for the column industry?

In [99]:
df.industry.value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

Split the data
Split your data in train/val/test sets with 60%/20%/20% distribution.
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
Make sure that the target value converted is not in your dataframe.

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [102]:
len(df_train), len(df_val), len(df_test)

(876, 293, 293)

In [103]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [104]:
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

del df_train['converted']
del df_val['converted']
del df_test['converted']

In [117]:
numeric_columns.pop()
numeric_columns

['number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score']

## Question 2.
 Biggest correlation (1 point)

In [156]:
df_full_train[numeric_columns].corrwith(df_full_train.converted).abs()

number_of_courses_viewed    0.442068
annual_income               0.029612
interaction_count           0.378482
lead_score                  0.225641
dtype: float64

## Question 3
Calculate the mutual information score between converted and other categorical variables in the dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).

In [105]:
from sklearn.metrics import mutual_info_score

In [106]:
df_full_train

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
1066,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71,0
638,events,retail,3,38048.0,student,north_america,6,0.97,1
799,social_media,education,2,71399.0,NA,europe,1,0.51,1
380,referral,education,2,47912.0,employed,australia,1,0.04,0
303,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32,1
...,...,...,...,...,...,...,...,...,...
1130,events,manufacturing,1,57039.0,employed,south_america,2,0.30,0
1294,events,healthcare,2,56185.0,student,south_america,2,0.44,0
860,paid_ads,manufacturing,1,56402.0,student,north_america,1,0.02,0
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1126,events,manufacturing,0,43862.0,self_employed,asia,4,0.21,0

In [109]:
def mutual_info_converted_score(series):
    return mutual_info_score(series, df_full_train.converted)

mi = df_full_train[categorical_columns].apply(mutual_info_converted_score)
round(mi.sort_values(ascending=False),2)

lead_source          0.03
employment_status    0.01
industry             0.01
location             0.00
dtype: float64

## Question 4
Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [112]:
from sklearn.feature_extraction import DictVectorizer

In [116]:
numeric_columns

['number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score',
 'converted']

In [118]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical_columns + numeric_columns].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical_columns + numeric_columns].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [122]:
from sklearn.linear_model import LogisticRegression

In [124]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [125]:
model.intercept_[0]

np.float64(-0.06914728027832363)

In [126]:
model.coef_[0].round(2)

array([-0.  , -0.01,  0.03,  0.  ,  0.01, -0.1 , -0.02,  0.05, -0.02,
       -0.01, -0.  , -0.01, -0.03, -0.02,  0.31,  0.05,  0.02, -0.01,
       -0.01, -0.12,  0.08, -0.03,  0.  , -0.01, -0.01, -0.01,  0.01,
        0.01, -0.03, -0.03,  0.45])

In [214]:
y_pred = model.predict_proba(X_val)[:, 1]
y_pred

array([2.63595982e-02, 9.47835064e-01, 1.51519131e-01, 7.17242306e-04,
       1.97895551e-01, 1.35346184e-01, 6.14137165e-01, 9.95513768e-01,
       9.79425734e-01, 4.23947877e-01, 7.43901467e-02, 9.78451148e-01,
       8.99096291e-01, 6.04151938e-01, 2.38514125e-01, 9.91724550e-01,
       4.17010492e-01, 2.23751674e-01, 1.16703767e-02, 8.92135890e-01,
       8.68421474e-01, 8.73958591e-01, 3.12210383e-01, 3.69594932e-01,
       4.46242886e-01, 4.97236068e-01, 9.95566780e-01, 4.56737199e-02,
       4.97144042e-01, 9.99104913e-01, 9.86513494e-01, 7.66678436e-01,
       4.31975941e-01, 9.97954361e-01, 9.64827631e-01, 7.01008652e-01,
       9.98593362e-01, 9.00457769e-01, 7.86464929e-01, 2.26522263e-04,
       1.91754237e-01, 4.02160040e-01, 9.99977382e-01, 6.93516175e-02,
       1.68319218e-01, 4.67156858e-02, 9.89061954e-01, 8.35248318e-01,
       9.85791986e-01, 9.24017616e-01, 2.97110740e-02, 9.76972129e-01,
       6.32553642e-02, 9.97529445e-01, 1.12568717e-01, 7.79646423e-01,
       8.90977957e-01, 6.23531341e-03, 8.70017845e-01, 8.73931351e-01,
       1.12612572e-02, 9.67402713e-01, 6.36755030e-01, 2.85149202e-01,
       9.96206657e-01, 9.71166456e-01, 9.98659525e-01, 9.32065695e-01,
       9.99670811e-01, 9.70958360e-01, 9.43361322e-01, 4.89153197e-02,
       1.69174733e-02, 1.21809257e-01, 9.46512163e-01, 9.98129443e-01,
       9.91398185e-01, 9.63980057e-01, 3.98972791e-01, 2.37177215e-01,
       9.79686701e-01, 8.33097413e-02, 9.95061311e-01, 9.98908280e-01,
       7.90498158e-01, 1.77024261e-02, 9.97076990e-01, 9.82416361e-01,
       9.08057067e-01, 9.94796099e-01, 9.20797302e-01, 7.64316007e-01,
       9.89596497e-02, 9.70908126e-01, 2.93128281e-02, 9.99105614e-01,
       1.08038850e-01, 8.84985186e-01, 4.87045805e-01, 1.36831558e-01,
       8.43563978e-02, 9.67364212e-02, 8.50535582e-01, 5.87811035e-01,
       9.81081994e-01, 8.64478434e-01, 9.68828776e-01, 2.15097556e-01,
       9.99085482e-01, 1.29558396e-01, 9.99878154e-01, 8.23383816e-01,
       7.17920108e-01, 1.56451029e-01, 9.27634315e-01, 5.96432407e-02,
       5.85120818e-01, 6.26899922e-02, 9.80708531e-01, 9.89150184e-01,
       3.62569607e-02, 5.03192893e-01, 8.16399924e-01, 6.23470252e-03,
       9.84109216e-01, 9.42254970e-01, 4.06509260e-01, 9.92541643e-01,
       6.44457953e-01, 8.43690925e-01, 1.44718367e-01, 9.92977299e-01,
       2.50953674e-01, 2.59356451e-01, 9.58581254e-01, 1.30092300e-01,
       1.90481207e-01, 7.04023008e-01, 7.89535533e-01, 6.44664873e-02,
       2.70671085e-01, 8.77809666e-03, 5.90819215e-01, 9.10483457e-01,
       7.60114839e-02, 3.14833020e-02, 9.89578024e-01, 9.86515601e-01,
       9.99887738e-01, 5.91733062e-01, 8.24216000e-01, 4.27647138e-01,
       9.99107884e-01, 9.84396525e-01, 3.37171449e-01, 4.54175767e-03,
       1.15358120e-02, 9.85905742e-01, 3.18406612e-03, 9.85855656e-01,
       8.62117007e-01, 9.72133112e-01, 3.94909236e-01, 6.32837154e-03,
       7.42222034e-02, 5.85001129e-01, 5.93949263e-01, 9.99493571e-01,
       9.93297858e-01, 6.53982182e-01, 9.54555764e-01, 9.29718648e-01,
       6.64801094e-01, 8.88533541e-02, 9.99867009e-01, 1.19643737e-01,
       7.72795226e-01, 9.44314649e-02, 4.96707194e-01, 9.24989813e-01,
       1.65903340e-02, 1.86040568e-02, 9.99139681e-01, 9.37402579e-01,
       3.92690074e-01, 9.95704963e-01, 3.87372815e-01, 6.93369903e-01,
       5.96449475e-02, 1.61727164e-01, 9.54323486e-01, 8.94667053e-01,
       8.03677541e-01, 9.76075734e-01, 5.80255589e-01, 1.38501379e-01,
       3.66265756e-01, 9.53002924e-01, 9.82119760e-01, 8.97399525e-01,
       9.97411367e-01, 9.64525791e-01, 7.90977326e-01, 7.46078298e-01,
       3.02674940e-01, 4.64378905e-01, 9.92971430e-01, 1.65761422e-01,
       9.99483177e-01, 5.47966464e-01, 2.04705473e-01, 8.40615824e-01,
       9.96539856e-01, 8.53014229e-01, 3.19798687e-01, 7.51003136e-01,
       9.95786493e-01, 1.92787781e-01, 3.50228407e-02, 9.11291358e-01,
       6.24561191e-03, 9.10478382e-01, 8.50756567e-02, 6.67028656e-01,
       9.87275178e-01, 9.66093543e-01, 7.83431266e-01, 3.20252533e-01,
       5.00989570e-03, 2.78434467e-01, 4.78156821e-01, 9.26893973e-01,
       2.70715947e-01, 4.85357285e-01, 9.30805916e-01, 9.57072592e-01,
       2.04651028e-03, 8.97638359e-01, 9.63538742e-01, 4.49566524e-01,
       5.53966794e-01, 2.78645708e-01, 9.68452944e-01, 1.88373355e-01,
       9.94204329e-01, 4.68925954e-01, 4.75742187e-01, 9.76326899e-01,
       9.99555757e-01, 1.40491724e-01, 4.29190556e-01, 9.88766111e-01,
       9.45396254e-01, 5.37870773e-01, 9.51941023e-01, 1.44217315e-01,
       2.73621922e-02, 9.71704422e-01, 9.53876200e-01, 7.15503436e-01,
       9.99862308e-01, 7.58755670e-01, 2.08900415e-01, 9.91396233e-01,
       9.04843470e-01, 9.99848408e-01, 4.18121991e-01, 2.40450704e-03,
       4.71530132e-01, 6.09191583e-01, 5.52449391e-03, 8.44591976e-01,
       1.20706526e-01, 1.79818267e-01, 2.03479584e-01, 1.88254588e-01,
       3.23488066e-01, 6.28055971e-02, 8.63269067e-01, 6.70748625e-01,
       7.67721661e-01, 1.64551728e-01, 9.01070225e-01, 7.49215482e-01,
       2.35204383e-01, 3.90463223e-01, 1.09733635e-01, 9.61609580e-01,
       2.00306048e-02, 5.36929098e-01, 1.14929335e-01, 7.95722290e-01,
       7.03987594e-02])

In [215]:
y_pred = model.predict(X_val)
CONVERTED_decision = (y_pred >= 1)

In [217]:
CONVERTED_decision = (y_pred >= 0.5)

In [273]:
# accuracy of validation set
full_accuracy = round((y_val == CONVERTED_decision).mean(),4)
full_accuracy

np.float64(0.6348)

## Question 5
 - Let's find the least useful feature using the feature elimination technique.
 - Train a model using the same features and parameters as in Q4 (without rounding).
 - Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
 - For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

 - 'industry'
 - 'employment_status'
 - 'lead_score'
  
Note: The difference doesn't have to be positive.

feature elimination technique:

In [189]:
dv.get_feature_names_out()

array(['annual_income', 'employment_status=NA',
       'employment_status=employed', 'employment_status=self_employed',
       'employment_status=student', 'employment_status=unemployed',
       'industry=NA', 'industry=education', 'industry=finance',
       'industry=healthcare', 'industry=manufacturing', 'industry=other',
       'industry=retail', 'industry=technology', 'interaction_count',
       'lead_score', 'lead_source=NA', 'lead_source=events',
       'lead_source=organic_search', 'lead_source=paid_ads',
       'lead_source=referral', 'lead_source=social_media', 'location=NA',
       'location=africa', 'location=asia', 'location=australia',
       'location=europe', 'location=middle_east',
       'location=north_america', 'location=south_america',
       'number_of_courses_viewed'], dtype=object)

In [207]:
model.coef_[0].round(3)

array([-0.   , -0.092,  0.891,  0.365,  0.167, -1.397, -0.274,  1.259,
       -0.176, -0.332,  0.036, -0.122, -0.303, -0.156,  1.103,  3.062,
        0.14 , -0.211,  0.004, -1.259,  1.512, -0.253,  0.339, -0.392,
       -0.253, -0.131,  0.142,  0.131, -0.041,  0.138,  1.532])

In [233]:
features_dict = dict(zip(dv.get_feature_names_out(), model.coef_[0].round(3)) )
features_dict

{'annual_income': np.float64(-0.0),
 'employment_status=NA': np.float64(-0.092),
 'employment_status=employed': np.float64(0.891),
 'employment_status=self_employed': np.float64(0.365),
 'employment_status=student': np.float64(0.167),
 'employment_status=unemployed': np.float64(-1.397),
 'industry=NA': np.float64(-0.274),
 'industry=education': np.float64(1.259),
 'industry=finance': np.float64(-0.176),
 'industry=healthcare': np.float64(-0.332),
 'industry=manufacturing': np.float64(0.036),
 'industry=other': np.float64(-0.122),
 'industry=retail': np.float64(-0.303),
 'industry=technology': np.float64(-0.156),
 'interaction_count': np.float64(1.103),
 'lead_score': np.float64(3.062),
 'lead_source=NA': np.float64(0.14),
 'lead_source=events': np.float64(-0.211),
 'lead_source=organic_search': np.float64(0.004),
 'lead_source=paid_ads': np.float64(-1.259),
 'lead_source=referral': np.float64(1.512),
 'lead_source=social_media': np.float64(-0.253),
 'location=NA': np.float64(0.339),
 'location=africa': np.float64(-0.392),
 'location=asia': np.float64(-0.253),
 'location=australia': np.float64(-0.131),
 'location=europe': np.float64(0.142),
 'location=middle_east': np.float64(0.131),
 'location=north_america': np.float64(-0.041),
 'location=south_america': np.float64(0.138),
 'number_of_courses_viewed': np.float64(1.532)}

In [236]:
all_features = dv.get_feature_names_out().tolist()
all_features

['annual_income',
 'employment_status=NA',
 'employment_status=employed',
 'employment_status=self_employed',
 'employment_status=student',
 'employment_status=unemployed',
 'industry=NA',
 'industry=education',
 'industry=finance',
 'industry=healthcare',
 'industry=manufacturing',
 'industry=other',
 'industry=retail',
 'industry=technology',
 'interaction_count',
 'lead_score',
 'lead_source=NA',
 'lead_source=events',
 'lead_source=organic_search',
 'lead_source=paid_ads',
 'lead_source=referral',
 'lead_source=social_media',
 'location=NA',
 'location=africa',
 'location=asia',
 'location=australia',
 'location=europe',
 'location=middle_east',
 'location=north_america',
 'location=south_america',
 'number_of_courses_viewed']

In [285]:
def log_reg_without_feature(features_to_use, df_train, df_val, y_val):
    smaill_features = features_to_use

    dicts_train_small = df_train[smaill_features].to_dict(orient='records')
    dicts_val_small = df_val[smaill_features].to_dict(orient='records')

    dv_small = DictVectorizer(sparse=False)
    dv_small.fit(dicts_train_small)

    X_val_small = dv_small.transform(dicts_val_small)
    X_train_small = dv_small.transform(dicts_train_small)

    model_small = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model_small.fit(X_train_small, y_train)

    y_pred = model_small.predict_proba(X_val_small)[:, 1]
    CONVERTED_decision = (y_pred >= 0.5)
    accuracy = round((y_val == CONVERTED_decision).mean(),4)
    
    return accuracy

In [286]:
import pprint

all_columns = numeric_columns+categorical_columns
accuracy_dict = {}
for feature in all_columns:
    All_features = all_columns.copy()
    All_features.remove(feature)
    accuracy = log_reg_without_feature(All_features, df_train, df_val, y_val)
    accuracy_dict[feature]=float(round(abs(accuracy-full_accuracy),3))

sorted_items = sorted(accuracy_dict.items(), key=lambda item: item[1])
pprint.pprint(sorted_items)

[('employment_status', 0.061),
 ('industry', 0.065),
 ('lead_source', 0.068),
 ('lead_score', 0.072),
 ('location', 0.075),
 ('number_of_courses_viewed', 0.079),
 ('interaction_count', 0.079),
 ('annual_income', 0.218)]

## Question 6
 - Now let's train a regularized logistic regression.
- Let's try the following values of the parameter C: [0.01, 0.1, 1, 10, 100].
- Train models using all the features as in Q4.
- Calculate the accuracy on the validation dataset and round it to 3 decimal digits.

In [162]:
dicts_full_train = df_full_train[categorical_columns + numeric_columns].to_dict(orient='records')

In [163]:
dv = DictVectorizer(sparse=False)
X_full_train = dv.fit_transform(dicts_full_train)

In [164]:
y_full_train = df_full_train.converted.values

In [184]:
def reg_log_regression(C_parameter,X_full_train, y_full_train,df_test):
    model = LogisticRegression(solver='lbfgs',max_iter=10000, C=C_parameter)
    model.fit(X_full_train, y_full_train)
    dicts_test = df_test[categorical_columns + numeric_columns].to_dict(orient='records')
    X_test = dv.transform(dicts_test)
    y_pred = model.predict_proba(X_test)[:, 1]
    CONVERTED_decision = (y_pred >= 0.5)
    return (CONVERTED_decision == y_test).mean()

In [188]:
for c in [0.01, 0.1, 1, 10, 100]:
    accuracy  = reg_log_regression(c, X_full_train, y_full_train, df_test)
    print(f'c = {c}\t accuracy ={round(accuracy ,3)} ')

c = 0.01	 accuracy =0.819
c = 0.1	 accuracy =0.829
c = 1	 accuracy =0.823
c = 10	 accuracy =0.816
c = 100	 accuracy =0.816